/* general styles */
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #ffffff;
}

.container {
  display: flex;
}

#taskbar {
  height: 100vh;
  overflow-y: scroll;
  background-color: #fff;
  width: 208px;
  position: fixed;
  z-index: 2;
  border-right: 1px solid #ddd;
}

#pug {
  margin: 10px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#pug-container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#chastize {
  margin: 0 auto;
  font-size: x-large;
  position: relative;
  bottom: 20px;
}

#loading {
  justify-content: center;
}

#taskbar-sizer {
  flex: 0 0 200px;
  height: 100vh;
  overflow-y: scroll;
  background-color: #fff;
  border-right: 1px solid #ddd;
}

#page {
  width: 100%;
}

#ugly-dogs {
  margin-top: 50px;
}

#dogs-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#filter {
    border-radius: 0px;
    margin: 10px;
    padding: 8px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 1px 5px rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.breedlist {
  margin: 0;
  padding: 0;
  list-style: none;
}

.breed {
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.breed:hover {
  background-color: #f9f9f9;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  box-shadow: 0 1px 5px rgba(0,0,0,0.1);
  margin-left: 8px;
  background-image : url('./assets/images/sad-dog.jpg');
  background-size: cover;
}

#header-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#return-home {
  cursor: pointer;
  font-weight: bold;
  margin-left: 3px;
  position: relative;
  bottom: 9px;
}

a {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
  font-weight: bold;
}

input[type="text"] {
  margin: 20px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 80%;
}

/* dog container styles */
.dog-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  max-width: 1200px;
  flex-wrap: wrap;
}

.dog-wrapper {
  position: relative;
  overflow: hidden;
  height: 400px;
  width: 26%;
  margin: 1.75%;
  box-shadow: 12px 20px 26px -3px rgba(0,0,0,.5);
}

.dog {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.click-pointer {
  cursor: pointer;
}

.ugly-text {
  font-size: 36px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s, filter 0.3s; /* add filter transition */
  filter: grayscale(0%); /* initial filter value */
}

.ugly-text.active {
  opacity: 1;
  filter: grayscale(100%); /* set filter to 100% grayscale */
}

.dog-wrapper:hover .ugly-text {
  opacity: 1;
}

.ranking-container {
  text-align: center;
  height: 417px;
  overflow: hidden;
  margin-left: 2vw;
  margin-bottom: 15px;
}

h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

ol {
  padding-left: 0;
  margin: 0 auto;
  max-width: 600px;
  font-size: 16px;
}

li {
  margin: 10px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 1px 5px rgba(0,0,0,0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rank {
  font-weight: bold;
  font-size: 20px;
  color: #333;
}

.rank img {
  height: 100px;
  margin-right: 20px;
}

@media (max-width: 960px) {
  #taskbar {
    display: none;
  }

  #taskbar-sizer {
    display: none;
  }

  .container {
    flex-direction: column;
  }

  .dog-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
  }

  .dog-wrapper {
    height: 250px;
    width: 70vw;
    margin: 2vw;
  }

  input[type="text"] {
    margin: 20px 0;
    width: 100%;
  }

  /* #pug-container {
    width: 80vw;
  } */
}
